<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Sentiment Tracker</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>

<h1>Sentiment Tracker</h1>
<div id="container"></div>

<div id="tweetTicker" style="">
    <ul></ul>
</div>

<link rel="stylesheet" href="/assets/css/framework.css">

<script src="/assets/js/libs/jquery-1.7.2.js"></script>
<script src="/assets/js/libs/highstock.js"></script>
<script src="/assets/js/main.js"></script>


<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
    var _gaq = [
        ['_setAccount', 'UA-XXXXX-X'],
        ['_trackPageview']
    ];
    (function (d, t) {
        var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
        g.src = ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g, s)
    }(document, 'script'));
</script>

<script>

    $(function () {

        var socket = io.connect('http://198.61.231.43:3000/');

        var chart;

        socket.on('fullData', function (data) {

            var dataArray = [];

            $.each(data, function (count, result) {

                dataArray.push([result.time, result.averageSentiment, result.tweetGroup]);

                if (count == ( data.length - 1 ) && count > 1) {

                    $(document).trigger('loadChart', [dataArray]);

                }

            });

        });

        socket.on('chart', function(data){
            console.log(data.tweetGroup.length);
        })

        socket.on('fullData', function(data){
            console.log(data);
        })

        $(document).bind('loadChart', function (e, result) {

            // Create the chart
            chart = new Highcharts.StockChart({
                chart:{
                    renderTo:'container',
                    backgroundColor: 'transparent',
                    style: {
                        fontFamily: "'helvetica neue', sans-serif",
                        fontSize: '14px'
                    },
                    type: 'spline',
                    events:{
                        load:function () {

                            // Open a socket connection
                            var series = this.series[0];

                            console.log('LOADED');

                            socket.on('chart', function (data) {

                                console.log('CHART connected');

                                var x = data.time, y = data.averageSentiment;
                                series.addPoint([x, y, data.tweetGroup], true, true);

                                $('#tweetTicker ul').empty();

                                $.each(data.tweetGroup, function (count, value) {

                                    $('#tweetTicker ul').append('<li class="ellipsis"><div class="square"></div>' + value.tweetText + '</li>');

                                });

                            });

                        }

                    }
                },

                yAxis: {
                    gridLineColor: '#eee'
                },

                xAxis: {
                    gridLineWidth: 1,
                    gridLineColor: '#eee'
                },

                credits:{
                    enabled:false
                },

                rangeSelector: {
                    selected:0
                },

                series:[
                    {
                        name:'Valence',
                        data:result
                    }
                ],

                plotOptions: {

                    spline: {

                        allowPointSelect: true,

                        events: {

                            click: function(event) {

                                console.log(event);

                                popup(event);

                            }

                        }

                    }



                }
            });
        });

        function popup(event) {

            console.log(event);

            if( $('#mask').length > 0 ) {
                $('#mask').remove();
            }

            $('body').prepend('<div id="mask"><div id="popup"><h2>Tweet Data</h2><h3>Average Sentiment: '+event.point.config[1]+'</h3><ul></ul></div></div>');

            $.each(event.point.config[2], function(count,value) {

                    console.log(event.point.config[2][count]);
                $('#popup ul').append('<li>'+event.point.config[2][count].tweetText+' <strong>'+event.point.config[2][count].sentimentResult+'</strong></li>');
            });
        }

        $(document).on('click', '#mask', function(){
            $('#mask').remove();
        })

    });

</script>

</body>
</html>