#tweetTicker li {
	float: left;
	color: #fff;
}

#tweetTicker {
	background: black;
	width: 100%;
	
	-webkit-marquee-direction:left;
	-webkit-marquee-increment:medium;
	-webkit-marquee-repetition:10;
	-webkit-marquee-speed:normal;
	-webkit-marquee-style:slide;
	font-size:14px;
	white-space: nowrap;
	overflow:hidden;
	overflow-x:-webkit-marquee;
	
	.square {
		width: 10px;
		height: 10px;
		background: blue;
		margin: 0 0 20px 0;
		float: left;		
	}
}

#tweetTicker ul {
	float: left;
	white-space: nowrap;
/* 	padding: 0px 350px; */
}